Package: pdfchopper
Version: 1.1
Section: utils
Priority: optional
Architecture: all
Depends: python3, qpdf
Maintainer: Rainer Bezzina <info@panzmalty.pl>
Description: PDF Chopper - Easily Split and export pages from PDF files.
